<div data-filterregion="filter">
    <fieldset>
        <legend class="sr-only">{{#str}}filterrowlegend, core_user, {{rownumber}}{{/str}}</legend>
        <div class="border-radius my-2 p-2 bg-white border d-flex flex-column flex-md-row align-items-md-start">
            <div class="d-flex flex-column flex-md-row align-items-md-center">
                <label for="mod_portfoliobuiilder-local-portfoliosfilter-filterrow-jointype-{{uniqid}}" class="mr-md-2 mb-md-0">{{#str}}match, core_user{{/str}}</label>
                <select class="custom-select mb-1 mb-md-0 mr-md-2" data-filterfield="join" id="mod_portfoliobuiilder-local-portfoliosfilter-filterrow-jointype-{{uniqid}}">
                    <option selected=selected value="2">{{#str}}all{{/str}}</option>
                </select>
            </div>

            <label class="sr-only pt-2" for="mod_portfoliobuiilder-local-portfoliosfilter-filterrow-filtertype-{{uniqid}}">{{#str}}filtertype, core_user{{/str}}</label>
            <select class="custom-select mb-1 mb-md-0 mr-md-2" data-filterfield="type" id="mod_portfoliobuiilder-local-portfoliosfilter-filterrow-filtertype-{{uniqid}}">
                <option value="">{{#str}}selectfiltertype, core_user{{/str}}</option>
                {{#filtertypes}}
                    <option value="{{name}}">{{title}}</option>
                {{/filtertypes}}
            </select>

            <div data-filterregion="value" class="d-md-block flex-column align-items-start flex-lg-row"></div>

            <button data-filteraction="remove" class="ml-auto icon-no-margin icon-size-4 btn text-reset" aria-label="{{#str}}clearfilterrow, core_user{{/str}}">
                <i class="icon fa fa-times-circle"></i>
            </button>
        </div>
        <div data-filterregion="joinadverb" class="pl-1 text-uppercase font-weight-bold">
            <div data-filterverbfor="2">{{#str}}adverbfor_and, core_user{{/str}}</div>
        </div>
    </fieldset>
</div>
