<div class="card border entry shadow-none" data-id="{{id}}">
    {{#hasimages}}
        {{#singleimage}}
            {{#images}}
                <img class="d-block w-100 card-img-top" src="{{fileurl}}" alt="{{filename}}">
            {{/images}}
        {{/singleimage}}
        {{^singleimage}}
            <div id="carousel-{{id}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#images}}
                        <div class="carousel-item {{#active}}active{{/active}}">
                            <img class="d-block w-100 card-img-top" src="{{fileurl}}" alt="{{filename}}">
                        </div>
                    {{/images}}
                </div>
                <a class="carousel-control-prev" href="#carousel-{{id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{#str}}previous, mod_portfoliobuilder{{/str}}</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{#str}}next, mod_portfoliobuilder{{/str}}</span>
                </a>
            </div>
        {{/singleimage}}
    {{/hasimages}}
    <div class="card-body">
        <h4 class="card-title mb-0">{{title}}</h4>

        <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>{{timecreated}}</p>

        {{#content}}
            <p class="mb-0">{{{.}}}</p>
        {{/content}}

        {{#isloggedin}}
            <div class="reactions">
                <div class="actions">
                    <div class="button likebutton {{#userreacted}}hasreacted{{/userreacted}}">
                        {{#userreacted}}
                            <i class="fa "></i>
                        {{/userreacted}}
                        {{^userreacted}}
                            <i class="fa "></i>
                        {{/userreacted}}

                        <span class="totalreactions">{{{totalreactions}}}</span>
                    </div>
                    <div class="button commentbutton">
                        <i class="fa fa-comment-o"></i>

                        <span class="totalcomments">{{{totalcomments}}}</span>
                    </div>
                </div>
            </div>
        {{/isloggedin}}
    </div>
    {{#hasfiles}}
        <div class="card-footer">
            <p class="mb-2">{{#str}}attachments, mod_portfoliobuilder{{/str}}</p>

            {{#files}}
                <div class="attachment mb-2">
                    <div class="fileinfo">
                        <i class="fa fa-file-pdf-o"></i>&nbsp;{{filename}}
                    </div>
                    <div class="filedownload">
                        <a href="{{fileurl}}" class="btn btn-primary btn-sm">{{#str}}downloadfile, mod_portfoliobuilder{{/str}}</a>
                    </div>
                </div>
            {{/files}}
        </div>
    {{/hasfiles}}

    {{#isloggedin}}
        <div class="card-footer comments">
            {{#comments}}
                <div class="submissioncomment">
                    <div class="userinfo">
                        <div class="userimg">
                            <img src="{{{commentuserpicture}}}" alt="{{{commentuserfullname}}}">
                        </div>
                        <div class="nameanddate">
                            <p class="username">{{{commentuserfullname}}}</p>
                            <span class="small">{{{humantimecreated}}}</span>
                            {{#edited}}<span class="badge badge-secondary">{{#str}}edited, mod_portfoliobuilder{{/str}}</span>{{/edited}}
                        </div>
                        {{#isowner}}
                            <div class="editbutton ml-auto">
                                <a class="btn-editcomment btn btn-sm btn-primary" data-id="{{{commentid}}}">{{#str}}editcomment, mod_portfoliobuilder{{/str}}</a>
                            </div>
                        {{/isowner}}
                    </div>

                    <p class="text">{{{text}}}</p>
                </div>
            {{/comments}}

            <div class="add-comment">
                <img src="{{{user.picture}}}" class="userimg" alt="{{{user.fullname}}}">

                <div class="input-group">
                    <p class="post-comment-input" placeholder="{{#str}}writeacomment, mod_portfoliobuilder{{/str}}" contenteditable="true" data-tribute="true"></p>

                    <button class="btn btn-outline-primary post-comment-btn mt-2" type="button">
                        <i class="fa fa-commenting-o"></i> {{#str}}comment, mod_portfoliobuilder{{/str}}
                    </button>
                </div>
            </div>
        </div>
    {{/isloggedin}}
</div>