<div class="mb-3">
    <a href="{{config.wwwroot}}/mod/portfoliobuilder/layout.php?id={{cmid}}" class="btn btn-primary">
    <i class="fa fa-chevron-left"></i> Back to layout choose
    </a>
</div>

<div class="card-columns">
    <div class="card border">
        <img class="card-img-top" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/mansory/image1.jpg" alt="Card image top">
        <div class="card-body">
            <h4 class="card-title mb-0">Each Card body can have a title</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <p class="card-text">This is a card body 1</p>
        </div>
    </div>

    <div class="card border">
        <div class="card-body">
            <h4 class="card-title mb-0"> My Card</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <p class="card-text"> This is a simple centered text </p>
        </div>
    </div>

    <div class="card border">
        <div class="card-body">
            <h4 class="card-title mb-0">Card title</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <p class="card-text">Card text</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
        </ul>
    </div>

    <div class="card border">
        <div class="card-body">
            <h4 class="card-title mb-0"> My List</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </ul>
        </div>

    </div>

    <div class="card border">
        <img class="card-img-top" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/mansory/image2.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title mb-0">Card title</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <p class="card-text">Card text</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
        </ul>
    </div>

    <div class="card border">
        <div class="card-body">
            <h4 class="card-title mb-0">Card with long description</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi nesciunt error ea totam vel accusamus perferendis modi fugit temporibus dolore, quis dolorem soluta fugiat inventore maxime nemo molestiae minus. Repudiandae?</p>
            <p>Nobis itaque distinctio deserunt, enim iure qui repudiandae minus, iste impedit dolore quod adipisci. Molestiae, dicta magnam dolorem obcaecati et! Obcaecati, velit fugit unde deleniti reiciendis maxime alias voluptate hic?</p>
            <p>Soluta officiis blanditiis corporis quae tenetur consequuntur, nam expedita nulla placeat nihil tempore veritatis ut saepe minus. Nisi autem, veniam numquam, cum fugiat fugit ducimus asperiores suscipit laborum tempora, illo!</p>
        </div>
    </div>

    <div class="card border">
        <img class="card-img-top" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/mansory/image3.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title mb-0">Card with image long description</h4>
            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Posted at: 03/12/2022</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi nesciunt error ea totam vel accusamus perferendis modi fugit temporibus dolore, quis dolorem soluta fugiat inventore maxime nemo molestiae minus. Repudiandae?</p>
            <p>Nobis itaque distinctio deserunt, enim iure qui repudiandae minus, iste impedit dolore quod adipisci. Molestiae, dicta magnam dolorem obcaecati et! Obcaecati, velit fugit unde deleniti reiciendis maxime alias voluptate hic?</p>
            <p>Soluta officiis blanditiis corporis quae tenetur consequuntur, nam expedita nulla placeat nihil tempore veritatis ut saepe minus. Nisi autem, veniam numquam, cum fugiat fugit ducimus asperiores suscipit laborum tempora, illo!</p>
        </div>
    </div>
</div>