<div class="main-timeline">

{{#entries}}
    <div class="timeline timeline-{{position}}">
        <div class="card border">
            {{#hasimages}}
                {{#singleimage}}
                    {{#images}}
                        <img class="d-block w-100 card-img-top" src="{{fileurl}}" alt="{{filename}}">
                    {{/images}}
                {{/singleimage}}
                {{^singleimage}}
                    <div id="carousel-{{id}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {{#images}}
                                <div class="carousel-item {{#active}}active{{/active}}">
                                    <img class="d-block w-100 card-img-top" src="{{fileurl}}" alt="{{filename}}">
                                </div>
                            {{/images}}
                        </div>
                        <a class="carousel-control-prev" href="#carousel-{{id}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-{{id}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                {{/singleimage}}
            {{/hasimages}}
            <div class="card-body p-4">
                <h4 class="fw-bold mb-0">{{title}}</h4>
                <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>{{timecreated}}</p>
                {{#content}}
                    <p class="mb-0">{{{.}}}</p>
                {{/content}}
            </div>
            {{#hasfiles}}
                <div class="card-footer">
                    <p class="mb-2">{{#str}}attachments, mod_portfoliobuilder{{/str}}</p>

                    {{#files}}
                        <div class="attachment mb-2">
                            <div class="fileinfo">
                                <i class="fa fa-file-pdf-o"></i>&nbsp;{{filename}}
                            </div>
                            <div class="filedownload">
                                <a href="{{fileurl}}" class="btn btn-primary btn-sm">{{#str}}downloadfile, mod_portfoliobuilder{{/str}}</a>
                            </div>
                        </div>
                    {{/files}}
                </div>
            {{/hasfiles}}
        </div>
    </div>
{{/entries}}

</div>