<div class="mb-3">
    <a href="{{config.wwwroot}}/mod/portfoliobuilder/layout.php?id={{cmid}}" class="btn btn-primary">
    <i class="fa fa-chevron-left"></i> {{#str}}backtolayoutchoose, mod_portfoliobuilder {{/str}}
    </a>
</div>

<div class="main-blog">
    <div class="block-3 d-md-flex">
        <a href="portfolio-single.html" class="image d-flex justify-content-center align-items-center" style="background-image: url('{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image1.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
            <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <div class="text">
            <h2 class="heading"><a href="portfolio-single.html">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
            <p><a href="#">View Project</a></p>
        </div>
    </div>
    <div class="block-3 d-md-flex">
        <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image2.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
            <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <div class="text order-1">
            <h2 class="heading"><a href="portfoli-singleo.html">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
            <p><a href="#">View Project</a></p>
        </div>
    </div>
    <div class="block-3 d-md-flex">
        <a href="portfolio-single.html" class="image d-flex justify-content-center align-items-center" style="background-image: url('{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image3.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
            <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <div class="text">
            <h2 class="heading"><a href="portfolio-single.html">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
            <p><a href="#">View Project</a></p>
        </div>
    </div>
    <div class="block-3 d-md-flex">
        <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image4.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
            <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <div class="text order-1">
            <h2 class="heading"><a href="portfoli-singleo.html">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
            <p><a href="#">View Project</a></p>
        </div>
    </div>
</div>
