<div class="mb-3">
    <a href="{{config.wwwroot}}/mod/portfoliobuilder/layout.php?id={{cmid}}" class="btn btn-primary">
    <i class="fa fa-chevron-left"></i> {{#str}}backtolayoutchoose, mod_portfoliobuilder {{/str}}
    </a>
</div>

<div class="main-blog">
    <div class="block-3 d-md-flex entry">
        <div class="image d-flex justify-content-center align-items-center left">
            <img class="d-block w-100 rounded" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image1.jpg">
        </div>

        <div class="text">
            <h2 class="heading">Even the all-powerful Pointing has no control</h2>

            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Friday, 16 December 2022, 10:56 AM</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vitae iste necessitatibus inventore sint quas et, nesciunt nulla voluptatem laborum repellat at impedit debitis quo molestias fugiat eveniet suscipit maiores!</p>
            <p>Doloribus, totam! Deleniti aspernatur magnam, distinctio at porro animi earum corrupti eius repellat recusandae nihil delectus! Neque sequi beatae voluptatem esse ipsam aspernatur suscipit, iusto. Quaerat culpa voluptate nihil aspernatur!</p>
            <p>Dolorem illum porro, magni temporibus doloribus assumenda officia aspernatur, earum minus, eaque quisquam ad molestias nobis quam aliquam vel libero nihil praesentium distinctio mollitia corporis, id odit. Voluptates, veniam. Esse.</p>
            <p>Qui doloribus rerum debitis mollitia molestias voluptate, ipsum nihil repellendus quis delectus placeat atque vitae dolor dolorem corporis odit quod molestiae dignissimos suscipit, libero minima illum, ex. Fugit, minima, eius.</p>
            <p>Voluptatum quae, asperiores, quis perferendis blanditiis, sit odit laborum modi facere fugiat, expedita accusantium aperiam quos est dolor qui reiciendis similique esse ipsam totam quas quaerat possimus ab! Accusamus, delectus.</p>
        </div>
    </div>

    <div class="block-3 d-md-flex entry">
        <div class="image d-flex justify-content-center align-items-center right">
            <img class="d-block w-100 rounded" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image2.jpg">
        </div>

        <div class="text">
            <h2 class="heading">Even the all-powerful Pointing has no control</h2>

            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Friday, 16 December 2022, 10:56 AM</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vitae iste necessitatibus inventore sint quas et, nesciunt nulla voluptatem laborum repellat at impedit debitis quo molestias fugiat eveniet suscipit maiores!</p>
            <p>Doloribus, totam! Deleniti aspernatur magnam, distinctio at porro animi earum corrupti eius repellat recusandae nihil delectus! Neque sequi beatae voluptatem esse ipsam aspernatur suscipit, iusto. Quaerat culpa voluptate nihil aspernatur!</p>
            <p>Qui doloribus rerum debitis mollitia molestias voluptate, ipsum nihil repellendus quis delectus placeat atque vitae dolor dolorem corporis odit quod molestiae dignissimos suscipit, libero minima illum, ex. Fugit, minima, eius.</p>
            <p>Voluptatum quae, asperiores, quis perferendis blanditiis, sit odit laborum modi facere fugiat, expedita accusantium aperiam quos est dolor qui reiciendis similique esse ipsam totam quas quaerat possimus ab! Accusamus, delectus.</p>
            <p>Dolorem illum porro, magni temporibus doloribus assumenda officia aspernatur, earum minus, eaque quisquam ad molestias nobis quam aliquam vel libero nihil praesentium distinctio mollitia corporis, id odit. Voluptates, veniam. Esse.</p>
            <p>Qui doloribus rerum debitis mollitia molestias voluptate, ipsum nihil repellendus quis delectus placeat atque vitae dolor dolorem corporis odit quod molestiae dignissimos suscipit, libero minima illum, ex. Fugit, minima, eius.</p>
        </div>
    </div>

    <div class="block-3 d-md-flex entry">
        <div class="image d-flex justify-content-center align-items-center">
            <img class="d-block w-100 rounded" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image3.jpg">
        </div>

        <div class="text">
            <h2 class="heading">Even the all-powerful Pointing has no control</h2>

            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Friday, 16 December 2022, 10:56 AM</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vitae iste necessitatibus inventore sint quas et, nesciunt nulla voluptatem laborum repellat at impedit debitis quo molestias fugiat eveniet suscipit maiores!</p>
            <p>Qui doloribus rerum debitis mollitia molestias voluptate, ipsum nihil repellendus quis delectus placeat atque vitae dolor dolorem corporis odit quod molestiae dignissimos suscipit, libero minima illum, ex. Fugit, minima, eius.</p>
            <p>Voluptatum quae, asperiores, quis perferendis blanditiis, sit odit laborum modi facere fugiat, expedita accusantium aperiam quos est dolor qui reiciendis similique esse ipsam totam quas quaerat possimus ab! Accusamus, delectus.</p>
        </div>
    </div>

    <div class="block-3 d-md-flex entry">
        <div class="image d-flex justify-content-center align-items-center right">
            <img class="d-block w-100 rounded" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/image4.jpg">
        </div>

        <div class="text">
            <h2 class="heading">Even the all-powerful Pointing has no control</h2>

            <p class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>Friday, 16 December 2022, 10:56 AM</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vitae iste necessitatibus inventore sint quas et, nesciunt nulla voluptatem laborum repellat at impedit debitis quo molestias fugiat eveniet suscipit maiores!</p>
            <p>Doloribus, totam! Deleniti aspernatur magnam, distinctio at porro animi earum corrupti eius repellat recusandae nihil delectus! Neque sequi beatae voluptatem esse ipsam aspernatur suscipit, iusto. Quaerat culpa voluptate nihil aspernatur!</p>
            <p>Qui doloribus rerum debitis mollitia molestias voluptate, ipsum nihil repellendus quis delectus placeat atque vitae dolor dolorem corporis odit quod molestiae dignissimos suscipit, libero minima illum, ex. Fugit, minima, eius.</p>
            <p>Voluptatum quae, asperiores, quis perferendis blanditiis, sit odit laborum modi facere fugiat, expedita accusantium aperiam quos est dolor qui reiciendis similique esse ipsam totam quas quaerat possimus ab! Accusamus, delectus.</p>
        </div>
    </div>
</div>
