<ul class="nav nav-tabs nav-fill" id="portfolios-tab" role="tablist">
    {{#hasgroup}}
        <li class="nav-item">
            <a
                id="teamportfolio-tab"
                class="nav-link active"
                href="#"
                data-toggle="tab"
                data-target="#teamportfolio"
                data-loaded="false"
                role="tab"
                aria-controls="teamportfolio"
                aria-selected="true"
                data-type="team">
                    {{#str}}teamportfolio, mod_portfoliobuilder{{/str}}
            </a>
        </li>
    {{/hasgroup}}
    <li class="nav-item {{^hasgroup}}active{{/hasgroup}}">
        <a
            id="networkportfolio-tab"
            class="nav-link {{^hasgroup}}active{{/hasgroup}}"
            href="#"
            data-toggle="tab"
            data-target="#networkportfolio"
            data-loaded="false"
            role="tab"
            aria-controls="networkportfolio"
            {{#hasgroup}}aria-selected="false"{{/hasgroup}}
            {{^hasgroup}}aria-selected="true"{{/hasgroup}}
            data-type="network">
                {{#str}}networkportfolio, mod_portfoliobuilder{{/str}}
        </a>
    </li>
</ul>

<div class="tab-content border p-3 border-radius-bottom" id="entries" data-courseid="{{{courseid}}}">
    {{#hasgroup}}
        <div class="tab-pane fade show active" id="teamportfolio" role="tabpanel" aria-labelledby="teamportfolio-tab">
            <div class="entries mt-2" data-courseid="{{{courseid}}}">
                {{> mod_portfoliobuilder/loading_portfolios }}

                <div class="card-columns columns-4 portfolios-area"></div>
            </div>
        </div>
    {{/hasgroup}}
    <div class="tab-pane fade {{^hasgroup}}show active{{/hasgroup}}" id="networkportfolio" role="tabpanel" aria-labelledby="networkportfolio-tab">

        <div class="alert alert-secondary py-3">
            <div class="form-row justify-content-end">
                <div class="col-md-4">
                    <select id="filter-chapter" class="form-control">
                        <option value="-1" selected>{{#str}}allactivities, mod_portfoliobuilder{{/str}}</option>
                        {{#chapters}}
                            <option value="{{key}}">{{value}}</option>
                        {{/chapters}}
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="filter-group" class="form-control">
                        <option value="-1" selected>{{#str}}allgroups, mod_portfoliobuilder{{/str}}</option>
                        {{#groups}}
                            <option value="{{id}}">{{name}}</option>
                        {{/groups}}
                    </select>
                </div>
            </div>
        </div>

        <div class="entries mt-2" data-courseid="{{{courseid}}}">
            {{> mod_portfoliobuilder/loading_portfolios }}

            <div class="card-columns columns-4 portfolios-area"></div>
        </div>
    </div>
</div>

{{#js}}
    require(['mod_portfoliobuilder/loadportfolios'], function(LoadPortfolios) {
        LoadPortfolios.init({{{courseid}}}{{^hasgroup}}, 'network'{{/hasgroup}});
    });
{{/js}}