<div class="row">
    <div class="col-md-4">
        <div class="content border border-radius p-4">
            <input name="layout" type="radio" id="dessert-1" />
            <label for="dessert-1">
                <p class="mb-0">Timeline</p>
                <img class="img-responsive" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/timeline/index.png" />
                <a href="{{config.wwwroot}}/mod/portfoliobuilder/layoutpreview.php?id={{cmid}}&type=timeline" class="mt-2 btn btn-sm btn-block btn-primary">Preview</a>
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content border border-radius p-4">
            <input name="layout" type="radio" id="dessert-2" />
            <label for="dessert-2">
                <p class="mb-0">Mansory</p>
                <img class="img-responsive" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/mansory/index.png" />
                <a href="{{config.wwwroot}}/mod/portfoliobuilder/layoutpreview.php?id={{cmid}}&type=mansory" class="mt-2 btn btn-sm btn-block btn-primary">Preview</a>
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content border border-radius p-4">
            <input name="layout" type="radio" id="dessert-3" />
            <label for="dessert-3">
                <p class="mb-0">Blog history</p>
                <img class="img-responsive" src="{{config.wwwroot}}/mod/portfoliobuilder/pix/layouts/blog/index.png" />
                <a href="{{config.wwwroot}}/mod/portfoliobuilder/layoutpreview.php?id={{cmid}}&type=blog" class="mt-2 btn btn-sm btn-block btn-primary">Preview</a>
            </label>
        </div>
    </div>
</div>