<div class="entry_loading-placeholder">
    <div class="card-columns">
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 300px;"></div>
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 200px;"></div>
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 500px;"></div>
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 400px;"></div>
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 200px;"></div>
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 300px;"></div>
        <div class="card card-body shadow-none fakeconent bg-pulse-grey d-block w-100" style="height: 200px;"></div>
    </div>
</div>