<div class="entry_loading-placeholder">
    <ul class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between fakeconent bg-pulse-grey d-block w-100" style="height: 200px;"></div>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between fakeconent bg-pulse-grey d-block w-100" style="height: 200px;"></div>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between fakeconent bg-pulse-grey d-block w-100" style="height: 200px;"></div>
        </div>
    </ul>
</div>