<div class="portfolio-header mx-0 d-flex align-items-center p-2 rounded border">
    <div class="user-image">
        <img class="rounded-circle border mw-100" src="{{userimage}}" alt="{{userfullname}}">
    </div>

    <div class="user-info ml-2">
        <h2>{{userfullname}}</h2>
        <p class="mb-0">Hello, this is my portfolio!</p>
    </div>
</div>

{{#hasentries}}
    {{{entries}}}
{{/hasentries}}

{{#js}}
    require(['jquery'], function($) {
        $('.carousel').carousel({
            interval: 5000,
            pause: 'hover'
        });
    });
{{/js}}
