<div class="card border border-radius profile-card-4 text-center shadow-none">
    <div class="ribbon">{{layout}}</div>
    {{#hasnews}}<div class="ribbon ribbon-2 bg-pulse-gold"><i class="fa fa-star"></i> {{#str}}news, mod_portfoliobuilder{{/str}}</div>{{/hasnews}}
    <img src="{{globals.config.wwwroot}}/mod/portfoliobuilder/pix/layouts/{{layout}}/index.png" class="img img-responsive" alt="{{fullname}}">
    <div class="card-body py-4">
        <div class="profile">
            <img src="{{userpicture}}" class="img img-responsive userpicture" alt="{{fullname}}">
        </div>
        <p>{{fullname}}</p>
        {{#grade}}
            <div class="text-left">
                <div class="badge badge-success">
                    {{#str}}assessment, mod_portfoliobuilder{{/str}}: {{.}}
                </div>
            </div>
        {{/grade}}
        {{#lastentry}}
            <div class="last-entry">
                <div>
                    <span class="badge badge-secondary">{{#str}}lastentry, mod_portfoliobuilder{{/str}}</span>
                </div>
                <p class="mb-0">{{title}}</p>
                <span class="text-muted"><i class="far fa-clock" aria-hidden="true"></i>{{humantimecreated}}</span>
            </div>
        {{/lastentry}}
    </div>
    <div class="card-footer">
        <a href="{{globals.config.wwwroot}}/mod/portfoliobuilder/portfolio.php?id={{globals.config.courseId}}&u={{id}}">{{#str}}viewportfolio, mod_portfoliobuilder{{/str}}</a>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-row">
            <div class="flex-fill">
                <p class="mb-0"><i class="fa fa-list-ol"></i> {{#str}}entries, mod_portfoliobuilder{{/str}}</p>
                <p class="mb-0">{{totalentries}}</p>
            </div>
            <div class="flex-fill">
                <p class="mb-0"><i class="fa fa-thumbs-o-up"></i> {{#str}}likes, mod_portfoliobuilder{{/str}}</p>
                <p class="mb-0">{{totallikes}}</p>
            </div>
            <div class="flex-fill">
                <p class="mb-0"><i class="fa fa-comment-o"></i> {{#str}}comments, mod_portfoliobuilder{{/str}}</p>
                <p class="mb-0">{{totalcomments}}</p>
            </div>
        </div>
    </div>
</div>