{{^embed}}
<div class="text-right mb-3">
    {{#grade}}
        <span class="badge badge-success">{{#str}}assessment, mod_portfoliobuilder{{/str}}: {{{.}}}</span>
    {{/grade}}
    {{^grade}}
        <span class="badge badge-primary">{{#str}}notyetassessed, mod_portfoliobuilder{{/str}}</span>
    {{/grade}}
</div>

<div class="mb-3 d-flex border border-radius p-2">
    <div class="left">
        <a href="{{config.wwwroot}}/mod/portfoliobuilder/submit.php?id={{cmid}}" class="btn btn-primary" data-action="create-entry-modal">
            <i class="fa fa-plus"></i> {{#str}}entry:add, mod_portfoliobuilder{{/str}}
        </a>
    </div>

    <div class="ml-auto">
        <a href="{{config.wwwroot}}/mod/portfoliobuilder/layout.php?id={{cmid}}" class="btn btn-dark"><i class="fa fa-edit"></i> {{#str}}changelayout, mod_portfoliobuilder{{/str}}</a>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-share"></i> {{#str}}shareportfolio, mod_portfoliobuilder{{/str}}
            </button>
            <div class="dropdown-menu">
                <a
                    class="dropdown-item text-decoration-none fb-share-button"
                    href="https://facebook.com/sharer.php?u=#{{config.wwwroot}}/local/portfoliobuilder/index.php?id={{courseid}}&u={{userid}}&t=Check out my portfolio on Evoke!"
                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                        <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a
                    class="dropdown-item text-decoration-none"
                    href="https://twitter.com/intent/tweet?url={{config.wwwroot}}/local/portfoliobuilder/index.php?id={{courseid}}%26u={{userid}}&text=Check out my portfolio on Evoke!""
                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                        <i class="fa fa-twitter-square"></i> Twitter
                </a>
                <a
                    class="dropdown-item text-decoration-none"
                    href="https://www.linkedin.com/sharing/share-offsite/?url={{config.wwwroot}}/local/portfoliobuilder/index.php?id={{courseid}}&u={{userid}}">
                        <i class="fa fa-linkedin-square"></i> Linkedin</a>
                <a id="share-url" class="dropdown-item text-decoration-none" href="{{config.wwwroot}}/local/portfoliobuilder/index.php?id={{courseid}}&u={{userid}}"><i class="fa fa-globe"></i> Copy public URL</a>
            </div>
        </div>
    </div>
</div>
{{/embed}}

{{^hasentries}}
    <div class="alert alert-info mt-4" role="alert">
        <h4 class="alert-heading">{{#str}}yourportfolioisempty, mod_portfoliobuilder{{/str}}</h4>
        <hr>
        <p>{{#str}}yourportfolioisemptydesc, mod_portfoliobuilder{{/str}}</p>
    </div>
{{/hasentries}}

{{#hasentries}}
    {{{entries}}}
{{/hasentries}}

{{#js}}
    require([
        'jquery',
        'mod_portfoliobuilder/sweetalert',
        'mod_portfoliobuilder/togglelike',
        'mod_portfoliobuilder/tribute_init',
        'mod_portfoliobuilder/comment/add',
        'mod_portfoliobuilder/comment/edit',
        'mod_portfoliobuilder/entrydelete'
    ], function($, Swal, ToggleLike, TributeInit, AddComment, EditComment, EntryDelete) {
        TributeInit.init();

        AddComment.init();

        EditComment.init({{{contextid}}});

        ToggleLike.init();

        EntryDelete.init();

        $('.carousel').carousel({
            interval: 5000,
            pause: 'hover'
        });

        $("#share-url").click(function(event) {
            event.preventDefault();

            navigator.clipboard.writeText(event.currentTarget.href);

            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 8000,
                timerProgressBar: true,
                onOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });

            Toast.fire({
                icon: 'success',
                title: '{{#str}}linkccopiedtoclipboard, mod_portfoliobuilder{{/str}}'
            });
        });
    });
{{/js}}